<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">My Gallery</a>
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
            <a href="/admin"><i class="fas fa-user-lock fa-2x ms-2" style="color: rgb(10, 177, 10);"></i></a>

  </div>
</nav>