*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.home{
  display: flex;
  justify-content: center;
   
} 

.gallery{
    margin-top:3%;
    height: auto ;
    transition: all .5s;
    display: flex;
    justify-content: center;
    color: black;
}

