@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
   background: url(https://images.pexels.com/3379934/pexels-photo-3379934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
   background-size: cover;
   transition: all .5s;
   scroll-behavior: smooth;
   background-attachment:fixed;
   background-position:center;

}

.navbar-brand{
  font-size: 2rem !important;
  font-weight: 600;
  /* font-family: 'Berkshire Swash', cursive; */
  font-family: 'Style Script',
  color: rgb(52, 131, 235);
  margin-left: 2%;
}


.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}


.home{
  display: flex;
  justify-content: center;
   
} 

.home .arrow{
  margin-top: 39%;
  margin-left: 5%;
}


.home .arrow #mouseClick{
  animation: bounce 2s infinite;

}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}


.gallery{
    margin-top:3%;
    height: auto ;
    transition: all .5s;
    display: flex;
    justify-content: center;
    color: white;
}

.gallery h3{
  text-align: center;
  margin-top: 3%;
  color: white;  
  font-family: 'Black Ops One', cursive;  
}

.gallery h6{
  text-align: center;
  margin-top: 3%;
  color: white;    
}

.gallery h5{
  text-align: center;
  color: white;  
  font-family: 'Tangerine', cursive;
  font-size: 3rem;

  
}

.gallery p{
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
}

.modal-dialog{
    width: 50rem;
    height: 48rem;
    /* background-image: url("https://img.freepik.com/free-photo/concept-promotional-flyer-poster-restaurants-pizzerias-template-with-delicious-pizza-olive-tomato-mozzarella-cheese_70216-8208.jpg?size=626&ext=jpg"); */
    background-color: rgb(22, 3, 3);
    border: 1px solid white;
    
  }

.modal-body{
  background-color: rgb(22, 3, 3);

}

.modal-footer{
  background-color: rgb(37, 28, 28);

}

.modal-header{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card #categories{
  display: none;

}